.text_input_box_main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    background-color: #ffffff;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
}
.text_input_box_title{
    font-family: 'Apple SD Gothic Neo';
    font-weight: 500;
    font-size: 14px;
    color: #B4B4B4;
}
.text_input_box_input{
    border: 0;
    outline: 0;
    font-family: 'Apple SD Gothic Neo';
    font-weight: 500;
    font-size: 14px;
    color: #222222;
}
.text_input_box_input::placeholder{
    font-family: 'Apple SD Gothic Neo';
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #B4B4B4;
}
.text_input_box_subtitle{
    font-family: 'Apple SD Gothic Neo';
    font-weight: 500;
    font-size: 14px;
    color: #222222;
}
