.refund_view_main{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
    justify-content: center;
}
.refund_view_body{
    display: flex;
    flex-direction: column;
    width: 360px;
}
.refund_view_title{
    margin-top: 40px;
    padding: 0 20px;
    width: calc(100% - 40px);
}
.refund_view_title > span{
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 136%;
    color: #222222;
}
.refund_view_rental_type_container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.refund_view_rental_type_container > span{
    margin-left: 18px;
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #222222;
}
.refund_view_body{
    display: flex;
    flex-direction: column;
}
.refund_view_description_container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    width: calc(100% - 36px);
}
.description_title{
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #222222;
}
.refund_view_description_container > div{
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.refund_view_description_container > div > div{
    display: flex;
    gap: 5px;
}
.refund_view_description_container > div > div > span{
    margin-top: 2px;
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #7A7A7A;
}
.refund_view_input_container{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}
.refund_view_input_container > div {
    display: flex;
    padding: 0 18px;
    width: calc(100% - 36px);
}
.refund_view_input_container > div:nth-child(2){
    margin-top: 8px;
}
.check_box_container{
    margin-top: 17px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.check_box_container > span{
    font-family: 'Apple SD Gothic Neo';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
}
.refund_view_explain_container{
    margin-top: 11px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.refund_view_btn_container{
    margin-top: 32px;
    display: flex;
    padding: 0 16px;
    width: calc(100% - 32px);
}
.refund_view_explain_container > span{
    font-family: 'Apple SD Gothic Neo';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7A7A7A;
}
